{{!< layout}}
<div class="aui-page-panel-content main build">
    <section class="aui-page-panel-item">
        <h3>Bamboo Build</h3>
        <form id="associate-bamboo-build" class="aui" method="post" enctype="multipart/form-data">
            <input type="hidden" name="action" value="associate-bamboo-build">
            <div class="field-group">
                <label for="select-build">Select Build</label>
                <select class="js-example-placeholder-single aui-style-default" id="select-build" name="select-build">{{#each builds}}
                    <option>{{buildName}}:{{buildKey}}</option>
                {{/each}}
                </select>
                <div class="description">The relative build from Bamboo you'd like to associate</div>
            </div>
            <div class="buttons-container">
                <div class="aui-buttons">
                    <button form="associate-bamboo-build" id="save-bamboo-build" type="submit"
                            class="aui-button aui-button-primary">Save
                    </button>
                </div>
                <div class="button-spinner spinner"></div>
            </div>
        </form>
    </section>
</div>